{% extends 'base2.html' %}
{% load static %}
{% block header2_content %}
<span class="text-white">Contact Us</span>
<h1 class="text-capitalize mb-5 text-lg">Get in Touch</h1>
{% endblock header2_content %}
{% block content2 %}
<!-- contact form start -->
<section class="contact-form-wrap section">
  <div class="container">
    
    <div class="row mb-5">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span class="text-color">Send a message</span>
        <h3 class="text-md mb-5">Contact Form</h3>

        <div class="row">
          <div class="col-lg-8">
            <form  class="" method="post" action="/contact-us/">
              {% csrf_token %}
              <div class="form-group">
                <input name="subject" id="subject" type="text" class="form-control" placeholder="Your Subject">
              </div>

              <div class="form-group">
                <input name="email" id="email" type="email" class="form-control" placeholder="Email Address">
              </div>

              <div class="form-group-2 mb-4">
                <textarea name="msg" id="message" class="form-control" rows="6" style="height: 200px;" placeholder="Your Message"></textarea>
              </div>
              <button class="col-md-12 btn btn-main" name="submit" type="submit">Send Message</button>
            </form>
          </div>

          <div class="col-lg-4">
            <div class="short-info mt-5 mt-lg-0">
              <ul class="list-unstyled">
                <li>
                  <h5>Call Us</h5>
                  {{com.phone_No}}
                </li>
                <li>
                  <h5>Email Us</h5>
                  {{com.email}}
                </li>
                <li>
                  <h5>Location Map</h5>
                  {{com.country}} , {{com.privacy}} , {{com.city}}
                </li>
              </ul>

              <ul class="social-icons list-inline mt-5">
                <li class="list-inline-item">
                  <a href="{{com.fb_link}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="{{tw_link}}" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="{{ln_link}}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 100px;">
      {% for pranch in pranches  %}
      <div class="col-lg-4 col-md-6">
        <div class="contact-content pl-lg-5 mt-5 mt-lg-0 mb-5 mb-lg-0">
          <h4 class="mb-4">{{pranch}} Office</h4>

          <ul class="address-block list-unstyled">
            <li>
              <i class="ti-location-pin mr-3"></i>{{pranch.location}}
            </li>
            <li>
              <i class="ti-email mr-3"></i>Email: {{pranch.email}}
            </li>
            <li>
              <i class="ti-mobile mr-3"></i>Phone:{{pranch.phone}}
            </li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content2 %}