{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "snippets/navbar_secondary.html" %}

<section class="page-title bg-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Our services</span>
            <h1 class="text-capitalize mb-5 text-lg">What We Do</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section service-2">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="service-img mb-5 mb-lg-0">
                      <img src="{% static '' %}images/service/service-1.jpg" alt="" class="img-fluid">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="service-info ">
                      <span class="text-color font-weight-bold">01</span>
                      <h3 class="text-md mb-4 mt-2">
                          Custom Software development
                      </h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatum, nobis quos dolores reiciendis unde. Est obcaecati aspernatur pariatur aliquid quos repellendus, amet architecto similique, cumque nisi earum, culpa, ipsa!</p>
                  </div>
              </div>
          </div>
  
          <div class="content-padding position-relative">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="service-info mb-5 mb-lg-0">
                          <span class="text-color font-weight-bold">02</span>
                          <h3 class="text-md mb-4 mt-2">
                              Software Maintenance
                          </h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatum, nobis quos dolores reiciendis unde. Est obcaecati aspernatur pariatur aliquid quos repellendus, amet architecto similique, cumque nisi earum, culpa, ipsa!</p>
  
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="service-img">
                          <img src="{% static '' %}images/service/service-3.jpg" alt="" class="img-fluid">
                      </div>
                  </div>
              </div>
          </div>
  
          <div class="row">
              <div class="col-lg-6">
                  <div class="service-img mb-5 mb-lg-0">
                      <img src="{% static '' %}images/service/service-4.jpg" alt="" class="img-fluid">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="service-info">
                      <span class="text-color font-weight-bold">03</span>
                      <h3 class="text-md mb-4 mt-2">
                          Web App Development
                      </h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatum, nobis quos dolores reiciendis unde. Est obcaecati aspernatur pariatur aliquid quos repellendus, amet architecto similique, cumque nisi earum, culpa, ipsa!</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  <section class="section case-study">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="case-study-content text-center mb-5">
                      <h2 class="mb-4">How we works</h2>
                      <p>There are many variations of lorem passages of Lorem Ipsum available, but the majority have suffered. All the Lorem Ipsum generators.</p>
                  </div>
              </div>
          </div>
  
  
  
          <div class="case-timeline">
              <div class="case-timeline-divider"></div>
              <div class="case-timeline-dot"></div>
              
              <div class="row align-items-center">
                  <div class="col-lg-6">
                      <div class="case-img ">
                          <img src="{% static '' %}images/about/process-3.jpg" alt="" class="img-fluid">
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="case-content">
                          <h4 class="mb-3">Competitor Research</h4>
                          <p>Nihil fugit officia esse vero, animi tenetur ullam, dolor aperiam minus aliquid enim laudantium fuga! Commodi voluptas, deleniti distinctio quam totam vitae.</p>
                      </div>
                  </div>
              </div>
          </div>
  
  
          <div class="case-timeline">
              <div class="case-timeline-divider"></div>
              <div class="case-timeline-dot"></div>
              <div class="row align-items-center">	
                  <div class="col-lg-6 order-2 order-lg-1">
                      <div class="case-content">
                          <h4 class="mb-3">Making Functional Strategy</h4>
                          <p>Nihil fugit officia esse vero, animi tenetur ullam, dolor aperiam minus aliquid enim laudantium fuga! Commodi voluptas, deleniti distinctio quam totam vitae.</p>
                      </div>
                  </div>
                  <div class="col-lg-6  order-1 order-lg-2">
                      <div class="case-img">
                          <img src="{% static '' %}images/about/process-2.jpg" alt="" class="img-fluid">
                      </div>
                  </div>
              </div>
          </div>
  
          <div class="case-timeline">
              <div class="case-timeline-divider"></div>
              <div class="case-timeline-dot"></div>
  
              <div class="row align-items-center">
                  <div class="col-lg-6">
                      <div class="case-img">
                          <img src="{% static '' %}images/about/process-1.jpg" alt="" class="img-fluid">
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="case-content">
                          <h4 class="mb-3">Project Outline</h4>
                          <p>Nihil fugit officia esse vero, animi tenetur ullam, dolor aperiam minus aliquid enim laudantium fuga! Commodi voluptas, deleniti distinctio quam totam vitae.</p>
                      </div>
                  </div>
              </div>
          </div>
  
          <div class="case-timeline">
              <div class="case-timeline-divider"></div>
              <div class="case-timeline-dot"></div>
  
              <div class="row align-items-center">
                      <div class="col-lg-6 order-2 order-lg-1">
                      <div class="case-content">
                          <h4 class="mb-3">Final Delivery</h4>
                          <p>Nihil fugit officia esse vero, animi tenetur ullam, dolor aperiam minus aliquid enim laudantium fuga! Commodi voluptas, deleniti distinctio quam totam vitae.</p>
                      </div>
                  </div>
  
                  <div class="col-lg-6  order-1 order-lg-2">
                      <div class="case-img">
                          <img src="{% static '' %}images/about/structure_sass.png" alt="" class="img-fluid">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  
  <section class="section service">
      <div class="container">
          <div class="row">
              <div class="col-lg-10">
                  <div class="heading">
                      <h2 class="mb-4">Industry Leading Managed <br>Services & Staffing Solutions</h2>
                      <p>Quos recusandae dolore, consequuntur nemo hic nisi perferendis. Vel praesentium magnam architecto delectus blanditiis doloremque, deleniti aperiam ab adipisci!</p>
                  </div>
              </div>
          </div>
          <div class="row align-items-center">
              <div class="col-lg-4 col-md-6">
                  <div class="service-item-list">
                      <i class="ti-panel"></i>
                      <p>Flexible Engagement <br>Models </p>
                  </div>
                  <div class="service-item-list">
                      <i class="ti-desktop"></i>
                      <p>Custom Software <br>Development</p>
                  </div>
                  <div class="service-item-list">
                      <i class="ti-light-bulb"></i>
                      <p>Product Innovation &<br>Technology</p>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6">
                  <div class="service-item-list">
                      <i class="ti-mobile"></i>
                      <p>Mobility<br> Service</p>
                  </div>
                  <div class="service-item-list">
                      <i class="ti-check-box"></i>
                      <p>Quality <br>Assurance</p>
                  </div>
                  <div class="service-item-list">
                      <i class="ti-dashboard"></i>
                      <p>Enterprise <br>Solution</p>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6">
                  <div class="service-item-list">
                      <i class="ti-headphone-alt"></i>
                      <p>Integrated & Dedicated<br> Teams</p>
                  </div>
                  <div class="service-item-list">
                      <i class="ti-bar-chart-alt"></i>
                      <p>Big data and<br> analytics</p>
                  </div>
                  <div class="service-item-list">
                      <i class="ti-cloud-up"></i>
                      <p>Cloud backup <br>System</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  <section class="cta-2 bg-light">
      <div class="container">
          <div class="cta-block py-5">
              <div class="row align-items-center ">
                  <div class="col-lg-8">
                      <span class="text-color">For Every type business</span>
                      <h2 class="mt-2 mb-4 mb-lg-0">Entrust your project to our best team of professionals</h2>
                  </div>
                  <div class="col-lg-4">
                      <a href="contact.html" class="btn btn-main btn-round-full float-lg-right">Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
{% endblock content %}