{% extends 'base2.html' %}
{% load static %}


{% block header2_content %}
<span class="text-white">Our services</span>
<h1 class="text-capitalize mb-5 text-lg">What We Do</h1>
{% endblock header2_content %}
{% block content2 %}
         
  <section class="section service-2">
      <div class="container">
        {% for serve in services  %}
        {% if serve.id|divisibleby:"2" %}
        <div class="row">
            <div class="col-lg-6">
                <div class="service-img mb-5 mb-lg-0">
                    <img src="{{serve.image.url}}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-info ">
                    <span class="text-color font-weight-bold">0{{forloop.counter}}</span>
                    <h3 class="text-md mb-4 mt-2">
                        {{serve.title}}
                    </h3>
                    <p>{{serve.description}}</p>
                </div>
            </div>
        </div>
        {% else %}
        <div class="content-padding position-relative">
            <div class="row">
                <div class="col-lg-6">
                    <div class="service-info mb-5 mb-lg-0">
                        <span class="text-color font-weight-bold">0{{forloop.counter}}</span>
                        <h3 class="text-md mb-4 mt-2">
                            {{serve.title}}
                        </h3>
                        <p>{{serve.description}}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-img">
                        <img src="{% static '' %}images/service/service-3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
  </section>
  
  <section class="section case-study">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="case-study-content text-center mb-5">
                      <h2 class="mb-4">How we works</h2>
                      <p>There are many variations of lorem passages of Lorem Ipsum available, but the majority have suffered. All the Lorem Ipsum generators.</p>
                  </div>
              </div>
          </div>
          
          {% for step in work_steps  %}
          {% if step.id|divisibleby:"2" %}
          <div class="case-timeline">
            <div class="case-timeline-divider"></div>
            <div class="case-timeline-dot"></div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="case-img ">
                        <img src="{{step.image.url}}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="case-content">
                        <h4 class="mb-3">{{step.title}}</h4>
                        <p>{{step.description}}</p>
                    </div>
                </div>
            </div>
            </div>
            {% else %}
            <div class="case-timeline">
                <div class="case-timeline-divider"></div>
                <div class="case-timeline-dot"></div>
                <div class="row align-items-center">	
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="case-content">
                            <h4 class="mb-3">{{step.title}}</h4>
                            <p>{{step.description}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6  order-1 order-lg-2">
                        <div class="case-img">
                            <img src="{{step.image.url}}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}
          {% endfor %}
      </div>
  </section>
  
  
  <section class="cta-2 bg-light">
      <div class="container">
          <div class="cta-block py-5">
              <div class="row align-items-center ">
                  <div class="col-lg-8">
                      <span class="text-color">For Every type business</span>
                      <h2 class="mt-2 mb-4 mb-lg-0">Entrust your project to our best team of professionals</h2>
                  </div>
                  <div class="col-lg-4">
                      <a href="{% url 'startup:contact' %}" class="btn btn-main btn-round-full float-lg-right">Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
{% endblock content2 %}