{% load static %}

<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<h3 style="color: #FF715B">{{com.title}}</h3>
					</div>
					<p style="text-align:justify;">{{com.description}}</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Company</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="{% url 'startup:about' %}">About</a></li>
						<li><a href="{% url 'startup:services' %}">Services</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="{% url 'startup:contact' %}">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Support</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Get in Touch</h4>
					<h6><a href="tel:{{com.phone_No}}" > <i class="ti-headphone-alt mr-3"></i>{{com.email}}</a></h6>
					<h6><a href="mailto:{{com.email}}" > <i class="ti-mobile mr-3"></i>{{com.phone_No}}</a></h6>

					<ul class="list-inline footer-socials mt-5">
						<li class="list-inline-item"><a href="{{com.fb_link}}" target="_blank"><i class="ti-facebook mr-2" style="color: #FF715B"></i></a></li>
						<li class="list-inline-item"><a href="{{com.tw_link}}" target="_blank"><i class="ti-twitter mr-2" style="color: #FF715B"></i></a></li>
						<li class="list-inline-item"><a href="{{com.ln_link}}" target="_blank"><i class="ti-linkedin mr-2 " style="color: #FF715B"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to <a class="text-color" style="color: #FF715B" href="/">{{com}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
