{% load static %}
<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="heading">
					<h2 class="mb-4">What they say about us</h2>
					<p>They are truely amazing in the industry ,molestiae expedita aspernatur officia, similique minima laudantium. Corrupti ipsa perspiciatis commodi nesciunt rerum mollitia enim voluptate!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 testimonial-wrap">
				{% for other in others  %}
				<div class="testimonial-block">
					<p>{{other.letter}}</p>
					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="{{other.image.url}}" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>{{other.name}}</h6>
							<span>{{other.address}}</span>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>